*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: rgb(58, 79, 74);
}
.calculator-container{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #3e9b58;
    margin: 10px;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    box-shadow: 2px 3px 4px;
    max-width: 450px;
}
.display{
    background-color: rgb(74, 69, 69);
    padding: 1rem;
    margin: .6rem;
    /* text-align: left; */
}
/* .buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-around;
    align-items: center;

} */
.first-row-btn{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}
.ac{
    width: 10rem;
}
.del{
    width: 12.5rem;
}

button{

    padding: 1rem;
    font-size: 2rem;
    margin: .2rem;
    align-self: center;
    border-radius: 2px;
    width: 5rem;
    height: 5rem;
    
}
button:hover{
    box-shadow: 2px 2px black;
}

