*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: rgb(58, 79, 74);
}
#calculator{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.calculator-container{
    text-align: center;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    background-color: #3e9b58;
    margin: 10px;
    font-size: 3rem;
    font-weight: bold;
    box-shadow: 2px 3px 4px;
    max-width: 500px;
    min-width: 410px;

}
.display{
    background-color: rgb(99, 91, 91);
    padding: 1rem;
    margin: .6rem;
    border-radius: 10px;
    text-align: left;
}
.first-row-btn{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}
.ac{
    width: 10rem;
}
.del{
    width: 12.5rem;
}

.last-row-btn{
    margin-bottom: 16px;
}

button{

    padding: 1rem;
    font-size: 2rem;
    margin: .3rem;
    align-self: center;
    border-radius: 6px;
    width: 5rem;
    height: 5rem;
    
}
button:hover{
    box-shadow: 2px 2px black;
}

